services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=ecommerceReinadb
      - POSTGRES_USER=reina_admin
      - POSTGRES_PASSWORD=Skw4124$%.
    ports:
      - "5432:5432"

volumes:
  postgres_data:
