name: Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write # Importante: Permiso para crear tags y releases

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Importante: Trae todo el historial de git para calcular la versión

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install python-semantic-release

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Esto analiza tus commits, calcula la nueva versión,
          # actualiza pyproject.toml, crea el tag y el release en GitHub.
          semantic-release version --commit --tag --push
          semantic-release publish
